<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <title>Odin Members Only</title>
  </head>
  <body>
    <h3><a href="/">Odin Members Only</a></h3>
    <h1 style="display: inline-block"><%= title %></h1>

    <% if (error) { %>
    <p style="color: red"><%- error %></p>
    <% } %>

    <form action="/log-in" method="POST">
      <label for="username">Username - Nickname</label>
      <input id="username" name="username" placeholder="nickname" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
